table {
	border-collapse: collapse;
	width: 100%;
}

table, th, tr {
	text-align: center;
}


th {
	height: 50px;
	background-color: #8B0000;
}

tr {
	height: 40px;
}

tr:nth-child(1) {
	background-color: #008000;
}

tr:nth-child(even) {
	background-color: #DCDCDC;
}

tr:hover:not(:nth-child(1)) {
	background-color: #1E90FF;
}

